* {
  box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
 }

 a {
  text-decoration: none;
  color: black;
 }

 a:hover {
  font-weight: 1000;
  background-color: #a7fad2;
}

 body {
  font-size: calc(10px + 1vmin);
 }

.App {
  text-align: center;
}

.Form {
  text-align: center;
  margin: 0px;
  padding: 5px;
  background-color: #4D57F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  margin: 10px calc(1vmin) 20px 0px;
  padding: 2% 14% 50px 14%;
  min-height: 10vh;
  max-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-evenly; */
  color: #4D57F4;
  z-index: 1;
}

.App-header2 {
  width: 100%;
  min-height: 10vh;
  padding: 2% 14% 2% 14%;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Logo {
  width: 60px;
  margin: 30px 0;
  height: 60px;
  /* padding: 40px 0px 0px 200px; */
}

.Icon {
  width: 100px;
  height: 100px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
  /* padding: 40px 0px 0px 200px; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

video {
  position: relative;
  width:100%;
  /* height: 100%; */
  min-height: 10vh;
  display:flex;
  overflow: hidden;
  z-index: -1;
}

form-block {
  position: relative;
  margin: 0px;
  padding: 0px;
  min-height: 10vh;
  max-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  color: black;
  background-color: white;
  z-index: 1;
}

h1 {
  font-size: calc(20px + 1vmin);
  font-weight: 300;
}

a {
  font-size: calc(10px + 1vmin);
  font-weight: 400;
  align-items: right;
  justify-content: right;
}

.About-flexbox-container {
  min-height: 400px;
  padding: 10% 10% 10% 20%;
  background-color: #4D57F4;
  color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.Problems-flexbox-container {
  min-height: 1000px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.Features-flexbox-container {
  min-height: 1000px;
  background-color: #4D57F4;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.Form-flexbox-container {
  min-height: 800px;;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.App-card {
  /* flex: 1 0 21%; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  max-width: 400px;
  min-height: 400px;
  color: black;
  background-color: white;
  margin: 40px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0px 60px 70px rgba(0,0,0,0.2);
}

.Contact-card {
  /* flex: 1 0 21%; */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 800px;
  min-height: 500px;
  color: black;
  background-color: white;
  margin: 40px;
  padding: 50px;
  border-radius: 30px;
  box-shadow: 0px 60px 70px rgba(0,0,0,0.2);
}

.App-hero {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.Img-hero {
  width: 100%;
  max-width: 2000px;
  /* min-width: 500px; */
  padding: 50px 0 50px 0;
  box-sizing: border-box;
  overflow: hidden;
  object-position: 100% 0;
}

.Img-body {
  padding: 50px 0 50px 0;
  width: 100%;
  max-width: 2000px;
  min-width: 500px;
  box-sizing: border-box;
  overflow: hidden;
}


/* FOOTER CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/* body{
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
} */
footer{
  position: relative;
  background: #4D57F4;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
} */
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: left;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: left;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}
@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
}

/* #mc-embedded-subscribe. {
  visibility: hidden;
  color: red;
  content: 'Submit Interest' !important;
} */